<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.rozsa.daniel.learningapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.location.gps"/>
    <uses-feature android:name="android.hardware.location.network"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".first.DummyActivity" />

        <service android:name=".first.DummyService" />
        <receiver android:name=".first.DummyBroadcastReceiver" />

        <activity android:name=".second.SecondActivity" />

        <service android:name=".second.SecondBindService" />
        <service android:name=".second.SecondIntentService" />
        <service android:name=".second.SecondService" />

        <activity android:name=".third.ViewReplaceActivity" />
        <activity android:name=".third.FragmentExampleActivity" />
        <activity android:name=".seventh.notification.SampleNotiActivity" />

        <receiver android:name=".fifth.BroadcastReceiverExample">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".seventh.notification.ToastBroadcastReceiver">
            <intent-filter>
                <action android:name="my.package.TOAST" />
            </intent-filter>

        </receiver>

        <provider
            android:name=".sixth.db_cp.ContentProviderExample"
            android:authorities="hu.rozsa.daniel.provider.TEST" />

        <service
            android:name=".libs.firebase.MyFireBaseService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".libs.firebase.MyFireBaseMessagingService"/>

    </application>

</manifest>